<h1 id="liscue">Lista Inmuebles</h1>

<div *ngIf="showMsg">
  {{msg}}
</div>

<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <td>ID</td>
    <td>TIPO INMUEBLE</td>
    <td>DIRECCION</td>
    <td>DESCRIPCION</td>
    <td>ID CLIENTE</td>
    <td>OPCIONES</td>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let Inmueble of listaInmueble">
    <td>{{Inmueble.idInmueble}}</td>
    <td>{{Inmueble.tipoInmueble}}</td>
    <td>{{Inmueble.direccion}}</td>
    <td>{{Inmueble.descripcion}}</td>
    <td>{{Inmueble.idCliente}}</td>
    <td>
      <button >Editar</button>
      <button >Eliminar</button>
    </td>
  </tr>
</tbody>
</table>