<h1 id="liscue">Lista Inmuebles</h1>

<div *ngIf="showMsg">
  {{msg}}
</div>

<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <td>ID</td>
    <td>TIPO INMUEBLE</td>
    <td>DIRECCION</td>
    <td>OPCIONES</td>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let Inmueble of listaInmueble">
    <td>{{Inmueble.idInmueble}}</td>
    <td>{{Inmueble.tipoInmueble}}</td>
    <td>{{Inmueble.direccion}}</td>
    <td>
      <button class="btn btn-primary" (click)="aplicar(Inmueble.idInmueble, modal)">Aplicar</button>
      <button class="btn btn-success" >Editar</button>
      <button class="btn btn-danger" (click)="delete(Inmueble.idInmueble)" >Eliminar</button>
      <button class="btn btn-info" [routerLink]="[ '../lista-inmueble-full', Inmueble.idInmueble]" >Informacion</button>
    </td>
  </tr>
</tbody>
</table>

<ng-template #modal>
  <div class="container-fluid">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aplicar Inmueble</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">NOMBRE PROCESO:</label>
            <input [(ngModel)]="nombreProceso" name="nombreProceso" type="text" class="form-control" id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="save()">Aplicar</button>
      </div>
    </div>
  </div>
</div>
</ng-template>