<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Abogado</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="./lista-cliente-arrendador" href="#">Clientes arrendadores<span class="sr-only">(current)</span></a>
        </li>   

        <li class="nav-item">
          <a class="nav-link" routerLink="./lista-cliente-arrendatario" href="#">Clientes arrendatarios<span class="sr-only">(current)</span></a>
        </li>  

        <li class="nav-item">
          <a class="nav-link" routerLink="./registro-abogado" href="#">Registrarse como Abogado<span class="sr-only">(current)</span></a>
        </li> 
  
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="singOut()">Salir</button>
      </form>
    </div>
  </nav>
  
  <router-outlet></router-outlet>