<div class="row justify-content-end bg-dark mb-0 pl-4 mx-1">
  <h6 style="color: antiquewhite;">
    {{globalEmailMostrar}}
  </h6>
</div>
<h3 class="bg-dark mb-0 h1 pl-4 mx-1" style="color: antiquewhite;">U-Rent</h3>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-1">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li *ngIf="mostrarRegistroMenu" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Mis inmuebles (Arrendador)
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="./lista-inmueble-arrendador" class="dropdown-item">Mis inmuebles agregados</a>
          <a routerLink="./agregar-inmueble" class="dropdown-item">Agregar Inmuebles</a>
        </div>
      </li>

      <li *ngIf="mostrarRegistroMenu" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Mis inmuebles (Arrendatario)
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="./arrendatario-aplicados" class="dropdown-item">Inmueble en proceso aplicados</a>
          <a routerLink="./inmueble-aplicado" class="dropdown-item">Inmueble aplicado</a>
        </div>
      </li>

      <li  *ngIf="mostrarDocumentos" class="nav-item">
        <a class="nav-link" routerLink="./documentos" href="#">Documentos<span class="sr-only">(current)</span></a>
      </li>

      <li *ngIf="mostrarRegistroMenu" class="nav-item">
        <a class="nav-link" routerLink="./lista-inmueble" href="#">Inmuebles disponibles<span
            class="sr-only">(current)</span></a>
      </li>
      
      <li *ngIf="mostrarRegistro" class="nav-item">
        <a class="nav-link" routerLink="./registro-cliente" href="#">Registrarse como Cliente<span
            class="sr-only">(current)</span></a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0" >
      <button class="btn btn-link" type="button" routerLink="./mi-perfil">Mi perfil</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="singOut()">Salir</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>