<h1 id="liscue">Lista Inmuebles Aplicados</h1>

<div *ngIf="showMsg">
  {{msg}}
</div>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <td>ID</td>
      <td>NOMBRE PROCESO</td>
      <td>FECHA APLICADO</td>
      <td>PAGADO</td>
      <td>OPCIONES</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Proceso of listaProceso">
      <td>{{Proceso.idProceso}}</td>
      <td>{{Proceso.nombreProceso}}</td>
      <td>{{Proceso.fechaProceso | date}}</td>
      <td *ngIf="Proceso.pagado===true">Pagado</td>
      <td *ngIf="Proceso.pagado===false">No pagado</td>
      <td>
        <button [routerLink]="[ '../mostrar-inmueble', Proceso.idInmueble_Inmueble ]" type="button" class="btn btn-primary">Ver Inmueble</button>
        <button [routerLink]="[ '../mostrar-cliente', Proceso.idCliente_Cliente ]" type="button" class="btn btn-primary">Ver Cliente</button>
        <button [disabled]="Proceso.pagado==false" [routerLink]="[ '../proceso', Proceso.idProceso ]" type="button" class="btn btn-success">Aplicar</button>
      </td>
    </tr>
  </tbody>
  </table>